@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');


/* div{
    border: 1px solid #fff;
} */

body{
    background-color: black;
    color: white;
    margin: 0 auto;
    max-width: 1800px;
}

#root{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.timeline {
    flex: 0 0 800px;
    font-family: 'Inter', sans-serif;
    border-left: 1px solid #2F3336;
    border-right: 1px solid #2F3336;
}

.header {
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2F3336;
}

.top-tweets {
    width: 1.5rem;
    height: auto;
}

.page-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.tweet-editor {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    padding:  .3rem 1rem;
    border-bottom: 1px solid #2F3336;
}

.avatar {
    flex: 0 0 70px;
    /*padding: 0 rem;*/
}

.avatar img {
    max-width: 100%;
    max-height: 100px;
    border-radius: 100%;
}

.tweet-editor-form {
    flex: auto;
}

.tweet-editor-input {
    height: 60px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.3rem;
    background-color: black;
    color: white;
    resize: none;
    padding: 10px 0 0 0;
    margin: 13px 0;
}

.tweet-editor-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tweet-editor-actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*padding: 0.8rem 0;*/
    gap: 1rem;
}
.tweet-editor-actions button {
    background-color: transparent;
    border: none;
}
.button {
    text-transform: capitalize;
    padding: .7rem 1.5rem;
    border: none;
    border-radius: 50px;
    background-color: #1D9BF0;
    color: white;
    font-size: 1rem;
}




.tweet-title svg{
    width: 1.2rem;
    height: auto;
}


/* .tweet-image{
    width: 100%;
    padding:  .3rem 0 0 0;
} */




.tweet-actions svg {
    width: 1rem;
    height: auto;
    color: #2F3336;
}


/* style sidebar */

.sidebar{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    height: 100vh;
    width: 275px;
    position: sticky;
    top: 0;
    margin-left: 150px;
    font-family: "inter", sans-serif;
}
.sidebar-image-tweeter{
    width: 50px;
    height: 50px;
    padding-left: 15px;
    
}
.menu-sidebar{
    align-items: center;
    cursor: pointer;
    list-style: none;
}
.menu-sidebar li{
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 25px;
    padding: 15px;
}
.menu-sidebar li:hover{
    background-color: #181818;
    width: 70%;
    transition: background-color 0.2s ease-out;
    border-radius: 30px;
}
.navLink{
    color: #fff;
    text-decoration: none;
    display: flex;
    gap: 20px;
}


.contener-profile-tweet-sidebar{
    display: flex;
    gap: 10px;
    width: 251px;
    height: 64px;
    margin: 6px;
}

.compte-in-sidebar-avatar{
    width: 40px;
    height: 40px;
    margin: 5px;

}
.title-icon{
    width: 200px;

}
.compte-icon{
    display: flex;
}
.compt-more{
    padding-top: 15px;
}





.sidebar-footer{
    margin-top: auto;

}
.button-for-sidebar{
   font-weight: bolder;
   width: 225px;
   height: 52px;
   font-size: 17px;
   margin: 0 20px;


}


/* style trends */

.trends{
    display: flex;
    flex-direction: column;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 119px;
    min-height: 1024px;
    width: 360px;
    font-family: "inter", sans-serif;
    margin-right: 100;

}

.trends-input{
    display: flex;
    align-items: center;
    background-color: rgb(32, 35, 39);
    border-radius: 42px;
    margin-top: 6px;
    height: 42px;
    width: 350px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.trends-input img{
    width: 18px;
    height: 18px;
    margin: 12px;
}
.trends-input input{
    border: none;
    outline: none;
    background-color: rgb(32, 35, 39);
    padding-left: 25px;
    color: #fff;
    font-size: 15px;
}

.trends-for-you{
    margin-top: 15px;
    padding: 15px;
    background-color:  rgb(32, 35, 39);
    border-radius: 15px;
    min-height: 426px;
    width: 350px;
   
}
.trends-for-you .trends-for-you-title{
    display: flex;
    justify-content: space-between;
    
}

.trends-list-title, .trends-list-follow{
    margin-top:10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.trends-list-title:hover, .trends-list-follow:hover{
    background-color: rgb(50, 54, 59);
}
.trends-title-details{
    display: flex;
    justify-content: space-between;
    
}
.title-details{
    color: #6E767D;
}
.trend-author{
    font-weight: bold;
}
.show-more-title{
    font-weight: bold;
    color: #1D9BF0;
    cursor: pointer;
}
 .trends-follow{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    background-color: rgb(32, 35, 39);
    border-radius: 15px;
    min-height: 320px;
    width: 350px;
}
.follow-title{
    display: flex;
}
.follow-list-title{
    width: 190px;
    margin-left: 5px;
}
.follow-button{
    background-color: #fff;
    color: black;
    width: 73px;
    height: 31px;
    margin: 3px;
    border-radius: 32px;
    font-size: 14px;
    cursor: pointer;
}
.trendsCopieRigth{
    position: sticky;
    top: 0;
}

/* style icones */

.tweet-action-button-react{
    display: flex;
    width: 90px;
    height: 50px;
    padding: 2px;
    cursor: pointer;
}
.tweet-action-button-react img{
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
